# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/
.venv2/

# =========================
# Environment Variables
# =========================
.env

# =========================
# InsightFace Models
# =========================
.insightface/
*.onnx

# =========================
# YOLO Models
# =========================
*.pt

# =========================
# Output Videos
# =========================
*.mp4
*.avi

# =========================
# Images / Captures
# =========================
captures/
criminal_evidence/
*.jpg
*.jpeg
*.png

# =========================
# Database / Cache
# =========================
*.db
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Build Files
# =========================
build/
dist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
temp/
tmp/

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Uploaded Dataset
# =========================
data/criminals/

# =========================
# Output Results
# =========================
output_result.mp4
output_result1.mp4".insightface.zip" 
